#all{
    width: 100%;
    /* background-color: brown; */
    
    height: 1500px;
}

.cards{
    /* background-color: burlywood; */
    width: 100%;
    margin: auto;
    margin-top:2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.paginationCards{
    width: 100%;
    margin-left: 55px;
    height: 30px;
    /* background-color: cadetblue; */
}

.section{
    margin-top: 5em;
    margin-left: 15em;
    color: black;
}
.section h3{
padding-left: 25px;
font-size: 35px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}